/* REGOLE GENERALI */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    border: 1px dotted black;
}

/* Centratura Pagina */
.center {
    width: 70%;
    margin: 0 auto;
}

.flex {
    display: flex;
}
.align-i-center {
    align-items: center;
}
.justify-c-center {
    justify-content: center;
}
.justify-c-space-between {
    justify-content: space-between;
}
.gap-20 {
    gap: 20px;
}

li {
    list-style: none;
    display: inline-block;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

a {
    text-decoration: none;
}

.button-bg-blue {
    background-color: rgb(0, 97, 255);
    border: none;
    color: white;
}