/* BODY */
h3 {
  font-size: 24px;
}

/* HEADER */
header {
  width: 100vw;
  height: 70px;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: white;
  border-bottom: 1px solid rgb(229, 229, 231);
}
header div a {
  color: rgb(66, 66, 66);
}
header div #inizia-button {
  padding: 7px 14px;
}
header div nav > ul {
  height: 70px;
}
header div nav ul li {
  display: flex;
  align-items: center;
}
header div nav ul li:hover{
  border-bottom: 1px solid black;
}
header, p {
  line-height: 20px;
}

/* MAIN */
main {
  width: 100%;
}

/* SECTION - jumbotron */
main section#jumbotron {
  width: 100%;
  height: 650px;
  background-color: rgb(180, 208, 231);
}
main section > div.relative {
  bottom: -100px;
}
main #jumbotron div .jumb-center {
  width: 70%;
  margin: 40px auto 0;
}
main #jumbotron div h1.jumb-center {
  font-size: 60px;
  font-weight: 1000;
}
main section div a span.button-bg-blue {
  padding: 7px 14px;
}
main section div a#arrow-down {
  margin-top: 40px;
  font-size: 40px;
  color: black;
}

/* SECTION - piano business */
/* radio buttons */
main section div label.container-radio-button {
  padding-left: 35px;
  cursor: pointer;
  user-select: none;
}
main section div label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
main section div label span.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid gray;
  background-color: white;
}
main section div label.container-radio-button span.checkmark:hover {
  background-color: #ccc;
}
main section div label.container-radio-button input:checked ~ .checkmark {
  border: 5px solid blue;
}
main section div label.container-radio-button span.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
main section div label.container-radio-button input:checked ~ .checkmark:after {
  display: block;
}

/* piani pagamento */
main section div .piani-pagamento {
  width: calc((100% / 3) - 30px);
  height: 800px;
}
main section div.container-info {
  height: 700px;
  padding: 30px 30px 0;
  border: 1px solid rgb(229, 229, 231);
}
main section div.container-info-enterprise {
  height: 180px;
  padding: 30px 40px 0;
  border: 1px solid rgb(229, 229, 231);
}
main section div.head-card-table {
  padding: 10px 0;
  border-top: 1px solid rgb(229, 229, 231);
  border-left: 1px solid rgb(229, 229, 231);
  border-right: 1px solid rgb(229, 229, 231);
}
main section div.text-enterprise {
  width: calc((100% / 3) + (100% / 3) - 30px);
}
main section div a.cta-button-enterprise {
  width: calc((100% / 3) - 70px);
  margin-left: 40px;
}
/* Icons */
main section div.head-card-table > i {
  vertical-align: top;
  margin-right: 3px;
}
.check-icon::before {
  content: "\f00c";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  width: 10%;
  vertical-align: top;
  color: blue;
}
/* Blue buttons */
main section div a.button-rectangular {
  text-align: center;
  padding: 7px 0;
  height: 30px;
}
/* Links */
main section div .piani-pagamento a.link {
  text-decoration: underline;
  display: inline;
}
/* Hr */
main section div .piani-pagamento hr {
  width: 15%;
  border: none;
  border-bottom: 1px solid lightgrey;
}

/* SECTION - entra in contatto */
main section div#img-partners{
  flex-basis: 60%;
}
main section div#text-partners{
  flex-basis: 40%;
  padding: 50px 50px 0 40px;
}
main section #text-partners p {
  margin-top: 10px;
}
main section #text-partners a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid black;
  color: black;
}
main section #text-partners a:hover {
  color: rgba(0, 0, 0, 0.445);
}

/* SECTION - esegui operazioni */
main section h2#h2-operazioni {
  margin-bottom: 50px;
}
main section div#cards-operazioni {
  row-gap: 40px;
}
main section div.card {
  flex-basis: calc(90% / 3);
}
main section div.card h3 {
  margin-bottom: 30px;
}

/* SECTION - scopri di più*/
main section#scopri-dp h2 {
  width: 70%;
  margin-bottom: 50px;
}
main section#scopri-dp a {
  text-decoration: underline;
}

/* SECTION - galleria*/
main section div.galleria {
  flex-basis: calc(100vw / 3);
  height: calc(100vw / 3);
}
main section .galleria div.logo-galleria {
  flex-basis: calc(100% / 2);
  height: calc(100% / 2);
}
main section .galleria .logo-galleria > svg {
  max-width: 60%;
  fill: white;
}
/* galleria sx */
main section #galleria-sx #designit {
  background-color: rgb(162, 211, 155);
  border: 14px solid rgb(209, 233, 205);
}
main section #galleria-sx #asu {
  background-color: rgb(97, 8, 43);
}
main section #galleria-sx #uf {
  background-color: rgb(0, 147, 206);
}
main section #galleria-sx #topps {
  background-color: rgb(255, 28, 28);
}
/* galleria dx */
main section #galleria-dx #wb-relief {
  background-color: rgb(213, 0, 31);
}
main section #galleria-dx #hearst {
  background-color: rgb(180, 208, 231);
}
main section #galleria-dx #l-planet {
  background-color: rgb(13, 36, 129);
}
main section #galleria-dx #c-channel {
  background-color: rgb(255, 216, 48);
}
/* galleria centrale */
main section #galleria-centrale {
  padding: 40px;
  overflow: auto;
}
main section #galleria-centrale svg {
  max-width: 50%;
}
main section #galleria-centrale hr {
  max-width: 20%;
}

/* SEZIONE - inizia la tua prova */
main section#prova {
  background-color: rgb(180, 208, 231);
  width: 100%;
  height: 300px;
  padding: 120px 0;
}
main section#prova div#container-prova {
  margin: 0 auto;
  width: 60%;
}
main section#prova div h2 {
  padding-right: 150px;
  color: rgb(97, 8, 43);
}
main section#prova div a {
  text-align: center;
  border: 1px solid black;
  padding: 10px 40PX;
  background-color: white;
  border: none;
  color: black;
}
main section#prova div a:hover {
  color: rgba(0, 0, 0, 0.445);
}

/* SEZIONE - domande frequenti */
main section#d-frequenti h2 {
  margin-bottom: 40px;
}
main section#d-frequenti .domanda > .arrows {
  margin-right: 80px;
}
main section#d-frequenti .domanda .arrows i.fa-chevron-up {
  display: none;
}
main section#d-frequenti > hr {
  width: 95%;
}
main section#d-frequenti div.domanda {
  padding: 30px 0;
}
main section#d-frequenti div.risposta {
  padding: 0 50px 30px 0;
}
/* hover */
main section#d-frequenti div.domanda:hover + .risposta,
main section#d-frequenti div.domanda:hover .fa-chevron-up {
  display: block;
}main section#d-frequenti div.domanda:hover .fa-chevron-down {
  display: none;
}

/* FOOTER */
footer {
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
}
footer div.container-footer{
  width: 70%;
  margin: 0 auto;
  padding: 70px 0 40px;
}
footer section div.list-footer {
  flex-basis: calc(100% / 5);
}
footer .container-footer section .list-footer > h3 {
  margin-bottom: 30px;
}
footer .container-footer hr {
  width: 10%;
  margin: 70px 0 40px ;
}
footer .container-footer section .list-footer ul li > a {
  color: white;
}
footer .container-footer section select {
  background-color: black;
  border: none;
  color: white;
}
